<div data-role="view" data-title="Tarea View" data-layout="mainBack" data-model="app.tareaView" data-show="app.tareaView.onShow" data-after-show="app.tareaView.afterShow">
    <div id="vista_tarea" data-role="scroller" style="width: 100%; height: 100%" data-elastic="false"></div>
    
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_homeView -->
</div>